@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.montagu-slab {
    font-family: "Montagu Slab", serif;
}

/* .blur-overlay::before,
.blur-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    background: rgba(15, 15, 15, 0.342);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.blur-overlay::before {
    left: 0;
}

.blur-overlay::after {
    right: 0;
} */
