@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Arrow animation */

.arrow-down {
    animation: moveDown 1.5s ease-in-out infinite;
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 25;
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Overlay infite slider blur effect */

.blur-overlay {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

/* Card */

.card {
    max-width: 385px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    width: 100px;
    top: -140px;
    left: 35%;
    background-image: linear-gradient(180deg, rgb(99, 213, 241), rgb(0, 255, 191));
    height: 240%;
    animation: rotBGimg 5s linear infinite;
    transition: all 0.2s linear;
    z-index: -1;
}

/* Animation */
@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: "";
    position: absolute;
    background: #ffffff;
    inset: 5px;
    border-radius: 5px;
    z-index: 0;
}

.card section {
    position: relative;
    z-index: 1;
}
